@font-face {
    font-family: "LexendDeca-Regular";
    src: url(fonts/LexendDeca-Regular.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(fonts/Inter.ttf);
}
.attribution {
    margin: 0px auto;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
img {
    filter: grayscale(100%) brightness(35%) sepia(100%) hue-rotate(-130deg) saturate(600%) contrast(0.69);
}
body {
    font-family: "Inter";
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
main {
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    margin: 0px auto 10px;
    height: 446px;
    width: 1120px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 1120px;
}
.mobile-image {
    display: none;
}
@media screen and (max-width: 700px) {
    .desktop-image {
        display: none;
    }
    .mobile-image{
        display: block;
    }
}
.image {
    border-radius: 0px 10px 10px 0px;
}
@media screen and (max-width: 700px) {
    main {
        height: 720px;
        width: 327px;
    }
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        width: 327px;
    }
    .image {
    border-radius: 10px 10px 0px 0px;
    }
}
.content {
    box-sizing: border-box;
    height: 446px;
    padding: 60px 40px 30px 60px;
}
@media screen and (max-width: 700px) {
    .content {
        height: 480px;
        padding: 30px 40px 30px 30px;
    }
}
h2 {
    margin: 0px 0px 40px 0px;
    font-size: 40px;
    font-weight: 700;
}
h2>span {
    color: hsl(277, 64%, 61%);
}
p {
    font-size: 18px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5em;
    margin-bottom: 40px;
    width: 420px;
}
.stats {
    font-family: "Inter";
    display: flex;
    justify-content: space-between;
    width: 420px;
}
.stat-heading {
    font-family: "LexendDeca-Regular";
    color:hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
#stat {
    font-size: 32px;
    margin: 5px 0px;
    font-weight: 700;
}
@media screen and (max-width: 700px) {
    h2, p, .stat {
        text-align: center;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 700;
        width: 250px;
    }
    p {
        font-size: 15px;
        line-height: 1.8em;
        width: 260px;
        margin-bottom: 20px;
}
    .stats {
        display: flex;
        flex-direction: column;
        width: inherit;
    }
    .stat {
        margin: 10px 0px;
    }
    .stat-heading {
        display: block;
        font-size: 12px;
    }
    #stat {
        font-size: 20px;
    }
}
